
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477787069249'); /* IE9*/
  src: url('iconfont.eot?t=1477787069249#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477787069249') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477787069249') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477787069249#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e600"; }

.icon-daijinquan:before { content: "\e601"; }

.icon-restaurant22:before { content: "\e602"; }

.icon-shuju:before { content: "\e60f"; }

.icon-xitongguanli:before { content: "\e625"; }

.icon-order:before { content: "\e62f"; }

.icon-shuju1:before { content: "\e61e"; }

.icon-jichuxinxi:before { content: "\e7cc"; }

.icon-qiapian:before { content: "\e603"; }

.icon-youhuiquan:before { content: "\e62e"; }

.icon-lishi:before { content: "\e632"; }

.icon-lishi1:before { content: "\e61b"; }

.icon-duanxin3:before { content: "\e611"; }

.icon-shezhi:before { content: "\e616"; }

.icon-tingchechang:before { content: "\e604"; }

.icon-duanxin:before { content: "\e626"; }

.icon-duanxin1:before { content: "\e612"; }

.icon-yinxingqia:before { content: "\e605"; }

.icon-usb:before { content: "\e624"; }

.icon-tingchechang1:before { content: "\e606"; }

.icon-bianji:before { content: "\e631"; }

.icon-wifi:before { content: "\e607"; }

.icon-shezhi1:before { content: "\e617"; }

.icon-bf-message:before { content: "\e613"; }

.icon-yinxingqia1:before { content: "\e608"; }

.icon-xiaoxi:before { content: "\e650"; }

.icon-yinxingqia1:before { content: "\e609"; }

.icon-weixin1:before { content: "\e60a"; }

.icon-yinxingqia1:before { content: "\e60b"; }

.icon-xitongguanli1:before { content: "\e627"; }

.icon-0gongneng:before { content: "\e618"; }

.icon-xitongguanli1:before { content: "\e628"; }

.icon-huifu:before { content: "\e615"; }

.icon-16pxshuju:before { content: "\e61f"; }

.icon-gongnengshezhi1:before { content: "\e619"; }

.icon-weixin1:before { content: "\e629"; }

.icon-jiage:before { content: "\e623"; }

.icon-jichuxinxishezhi:before { content: "\e62c"; }

.icon-xitongguanli1:before { content: "\e62a"; }

.icon-duanxinicon:before { content: "\e614"; }

.icon-shuju1:before { content: "\e620"; }

.icon-icon:before { content: "\e64c"; }

.icon-gongnengshezhi:before { content: "\e61a"; }

.icon-yinxingqia1:before { content: "\e60c"; }

.icon-dianping:before { content: "\e630"; }

.icon-meitisucai:before { content: "\e61c"; }

.icon-yemianneirongshezhi:before { content: "\e664"; }

.icon-qiapian1:before { content: "\e60d"; }

.icon-jiudianwangguanli:before { content: "\e621"; }

.icon-brand:before { content: "\e622"; }

.icon-yemianshezhi:before { content: "\e62d"; }

.icon-sucai:before { content: "\e61d"; }

.icon-xitongguanli1:before { content: "\e62b"; }

.icon-kucun:before { content: "\e610"; }

.icon-daijinquan1:before { content: "\e60e"; }

